@using RockstarsHealthCheckVisualization.Models
@{
    ViewData["Title"] = "Individual";
}
@model UserCollectionViewModel

<link rel="stylesheet" href="~/css/MailUrl.css" asp-append-version="true" />

<div class="FullScreen">
    <form method="post" asp-controller="Individual" asp-action="UserGraph" class="Background">
        <select name="userID" id="userID">
            <option disabled selected> -- select an user -- </option>
                @foreach (UserViewModel user in Model.UserList)
                {
                    <option value="@user.UserID" name="UserID">@user.Email</option>
                }
            <input type="submit"> 
    </form>
</div>