@using RockstarsHealthCheckVisualization.Core;
@using RockstarsHealthCheckVisualization.Models
@model MailingViewModel

<link rel="stylesheet" href="~/css/MailUrl.css" asp-append-version="true" />

<div class="FullScreen">
    <form method="post" asp-controller="Individual" asp-action="MailUrl" class="Background">
        <div class="Container">
            <table>
                <tr>
                    <td>
                        <select asp-for="linkID" class="questionnaireInput">
                            @for (int i = 0; i < Model.GetList().Count(); i++)
                            {
                                <option value="@Model.GetList()[i].GetId()">@Model.GetList()[i].GetName()</option>
                            }
                        </select>
                    </td>
                </tr>
                 
                <tr id="emailTable" class="emailTable">
                        <td> 
                            <input type="text" list="emails" name="selectedEmails" id="selectedEmails" autocomplete="off" class="EmailInput"/>
                            <datalist id="emails">
                                @foreach (EmailDTO emailDTO in Model.Emails)
                                {
                                    <option value="@emailDTO.Email" />
                                }
                            </datalist>
                        </td>
                    <td><input type="button" value="Delete" name="deleteBTN" id="deleteBTN" class="deleteBTN" onclick="deleteButtonClicked(this)"></td>
                </tr>
            </table>
        </div>
        <div class="Container">
            <table id="addTable">
            </table>
        </div>
        <div class="Container">
            <input class="btn1" type="button" name="addBTN" value="Add email" id="addBTN">
            <input class="btn1" type="submit">
        </div>
    </form>
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">

    $('#addBTN').on('click', function () {
        var html = $('#emailTable').html();
        $('#addTable').append('<tr id="addedTableRow">' + html + '</tr>');
    });

</script>
<script>
    function deleteButtonClicked(button) {
        $(button).closest('#addedTableRow').remove();
    }
</script>