@{
    ViewData["Title"] = "Home Page";
}
<script>
    window.onload = function () {

        //var chart = new CanvasJS.Chart("chartContainer", {
        //    animationEnabled: true,
        //    title: {
        //        text: "Average answers"
        //    },
        //    axisY: {
        //        minimum: 0,
        //        maximum: 5,
        //        interval: 1
        //    },
        //    toolTip: {
        //        shared: true
        //    },
        //    data: [{
        //        type: "column",
        //        name: "Questions",
        //        dataPoints: @Html.Raw(ViewBag.DataPoints)
        //            }]
        //});
        //chart.render();



        var chartPie = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            title: {
                text: "Trend Pie Chart"
            },
            toolTip: {
                shared: true
            },
            data: [{
                type: "pie",
                name: "Trend",
                dataPoints: [
                //{ label: "Up", y: 50 }
                //{ label: "Mid", y: 25 },
                //{ label: "Down", y: 25 },
                {y: 50, label: "Up"},
                { y: 25, label: "Mid" },
                { y: 25, label: "Down" },
                ]
            }]
        });
        chartPie.render();
    }
</script>

<div id="chartContainer" style="height: 370px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
