@model MailingViewModel

<form method="post" asp-controller="Home" asp-action="MailUrl">
    <div>
        <input asp-for="toEmail" type="text" placeholder="Email"/>
    </div>
    <div>
        <select asp-for="linkID">
            @for (int i = 0; i < Model.GetList().Count(); i++){
                <option value="@Model.GetList()[i].GetId()">@Model.GetList()[i].GetName()</option>
            }
        </select>
    </div>
    <div>
        <input type="submit">
    </div>
</form>